@import '@renderer-shared/assets/fonts/comfortaa/stylesheet.css';

::selection {
  background: #c0c0c050;
  text-shadow: none;
}

:root {
  --la-background-color-primary: var(--la-color-bg-primary);
  --la-app-min-height: 520px;
  --la-app-min-width: 670px;
  --la-titlebar-height: 36px;
  --la-scrollbar-height: 6px;
  --la-scrollbar-width: 8px;
  --n-option-padding: 0 4px;
}

::-webkit-scrollbar {
  width: var(--la-scrollbar-width);
  height: var(--la-scrollbar-height);
}

::-webkit-scrollbar-thumb {
  background-color: var(--la-color-scrollbar-thumb);
  border-radius: 2px;

  &:hover {
    background-color: var(--la-color-scrollbar-thumb-hover);
  }
}

#app,
html,
body,
#naive-ui-config-provider {
  height: 100%;
}

#v-binder-view-measurer {
  top: var(--la-titlebar-height) !important;
}

body {
  /* 防止一些使用绝对布局的元素溢出，产生多余的滚动条 */
  overflow: hidden;
}

body {
  user-select: none;
  background-color: var(--la-background-color-primary);
  color: var(--la-color-text-primary);
  line-height: normal;
}

html.mica-enabled,
body.mica-enabled,
html.mica-enabled #app {
  background-color: transparent !important;
}

a,
a:visited {
  color: var(--la-color-link);
}

.n-radio {
  align-items: center;
}

.n-notification-container .n-notification .n-notification-main .n-notification-main__header {
  font-size: 13px;
  font-weight: bold;
}

.n-notification-container .n-notification .n-notification-main .n-notification-main__content {
  font-size: 13px;
  margin: 4px 0 0 0;
}

.n-notification-container .n-notification .n-notification__avatar {
  width: 20px;
  height: 20px;
  font-size: 20px;
}

.n-notification-container .n-notification.n-notification--show-avatar .n-notification-main {
  margin-left: 30px;
  width: calc(100% - 30px);
}

/* adjust for app title bar height */
.n-notification-container > .n-scrollbar > .n-scrollbar-container {
  max-height: calc(100vh - var(--la-titlebar-height)) !important;
}

.n-popover-shared.popover-transition-enter-from,
.n-popover-shared.popover-transition-leave-to {
  opacity: 0;
  transform: scale(0.98);
}

.n-popover-shared.popover-transition-enter-to,
.n-popover-shared.popover-transition-leave-from {
  opacity: 1;
  transform: scale(1);
}

/*  当前无需覆盖 */
/*  .n-popover-shared.popover-transition-enter-active {
   transition:
     box-shadow 0.3s var(--n-bezier),
     background-color 0.3s var(--n-bezier),
     color 0.3s var(--n-bezier),
     opacity 0.15s var(--n-bezier-ease-out);
 } */

.n-modal.fade-in-scale-up-transition-enter-from,
.n-modal.fade-in-scale-up-transition-leave-to {
  opacity: 0;
  transform: scale(0.98);
}

.n-modal.fade-in-scale-up-transition-leave-from,
.n-modal.fade-in-scale-up-transition-enter-to {
  opacity: 1;
  transform: scale(1);
}
