@layer theme, base, components, utilities;

@source '../../../renderer-shared';
@source '../../../renderer';

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --color-akari-50: #fff0f3;
  --color-akari-100: #ffe3e9;
  --color-akari-200: #ffc9d6;
  --color-akari-300: #ffa0b6;
  --color-akari-400: #ff6e91;
  --color-akari-500: #f83f6f;
  --color-akari-600: #e61d4f;
  --color-akari-700: #c20e3a;
  --color-akari-800: #a10f34;
  --color-akari-900: #861230;
  --color-akari-950: #4a0415;
}
